{%extends 'wordapi/base.html' %}
{% load static %}
{%block content%}
    <div class="container">
        {%if user.is_authenticated%}
            {% if finished%}
            <div class="page">
                <div id="en">Gratulacje</div>
                <div id="pl">Znasz już wszystkie słowa z listy</div>
            </div>
            {%else%}
            <div class="page">
                <div id="en">Word</div>
                <div id="pl">Słowo</div>
            </div>
            <div class="mini-nav">
                <ul>
                    <li id="red">Nieznam</li>
                    <li id="yellow">Kojarzę</li>
                    <li id="green">Znam</li>
                </ul>
            </div>
            <div id="next">Pokaż</div>
            <div id="cover"></div>
            {%endif %}
        {%else%}
            Zaloguj się
        {%endif %}
    </div>

    {%if user.is_authenticated%}
    <script src="{% static 'apijs.js' %}"></script>     
    {%endif%}
{%endblock%}